/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*My CSS*/
body {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 30px;
}
header {
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 5px solid black;
}
h1 {
	font-size: 50px;
	font-style: italic;
}
input {
	margin-right: 10px;
	margin-bottom: 10px;
}
label {
	font-size: 25px;
	margin-bottom: 10px;
}
.headerLeft {
	display: inline-block;
	float: left;
	padding-left: 10px;
}
.headerRight {
	display: inline-block;
	float: right;
	padding-right: 10px;
}
.previousAns {
	text-align: left;
	padding-top: 35px;
	padding-left: 10px;
}
#lastOutcome {
	color: #0000FF;
}
.mainBody {
	position: relative;
	height: 330px;
	padding-top: 25px;

}
.questions {
	margin-bottom: 30px;
}
.choices {
	text-align: left;
	padding-left: 200px;
	margin-bottom: 30px;
}
#ansCheck {
	position: absolute;
	bottom: 10px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	color: red;
}
.startScreen {
	padding-top: 100px;
	padding-bottom: 50px;
}
#start {
	height: 70px;
	width: 70px;
	-moz-border-radius: 35px;
	border-radius: 35px;	
}
.buttons {
	border: none;
	font-family: "Brush Script MT", cursive;
	font-size: 30px;
}
.buttons:focus {
	outline: none;
	box-shadow: 0 0 0.5em #8B8B93;
}
.buttons:hover {
	background-color: #8B8B93;
	color: white;
}
#submit {
	display: inline-block;
	height: 2em;
	width: 4em;
	-moz-border-radius: 1em 4em 1em 4em;
	border-radius: 1em 4em 1em 4em;
	float: left;
}
#next {
	display: inline-block;
	position: absolute;
	margin-left: 250px;
	margin-right: 270px;
	height: 60px;
	width: 95px;
	border-radius: 5px;
	text-align: center;
}
#restart {
	display: inline-block;
	height: 2em;
	width: 4em;
	-moz-border-radius: 4em 1em 4em 1em;
	border-radius: 4em 1em 4em 1em;
	float: right;
}
.finalTitle {
	padding-bottom: 100px;
}
